Source: retroshare
Section: devel
Priority: standard
Maintainer: Retroshare Dev Team <retroshare.project@gmail.com>
Standards-Version: 4.1.4
Homepage: https://retroshare.cc
Build-Depends: debhelper (>= 9), doxygen, cmake, git, libglib2.0-dev, libupnp-dev, libssl-dev, libxss-dev, libbz2-dev, libxslt1-dev, libcurl4-openssl-dev, libsqlcipher-dev, libmicrohttpd-dev, qttools5-dev, libqt5x11extras5-dev, qtbase5-dev, qt5-qmake, qtbase5-dev-tools, qtmultimedia5-dev

Package: retroshare-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Secure communication with friends
 RetroShare is a Free and Open Source, private and secure decentralized 
 communication platform. Contains web interface files and DHT bootstrapping data.
 See retroshare-gui package.
 
Package: retroshare-service
Architecture: any
Depends: retroshare-common, ${shlibs:Depends}, ${misc:Depends}
Description: Secure communication with friends
 retroshare-service provides a headless version of the Retroshare software,
 which installs without Qt, runs on low-end machines, and is controlled by 
 a web interface.
 
Package: retroshare-gui
Architecture: any
Depends: retroshare-common, ${shlibs:Depends}, ${misc:Depends}
Description: Secure communication with friends
 RetroShare is a Free and Open Source, private and secure decentralized 
 communication platform. It lets you to securely chat and share files with your 
 friends and family, using a web-of-trust to authenticate peers and OpenSSL to 
 encrypt all communication. RetroShare provides filesharing, chat, messages, 
 forums and channels. This package provides with the desktop client based on Qt.

Package: retroshare-friendserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Secure communication with friends
 A friend server for retroshare Tor nodes.
 
